<div class="post">
  <h2>Post Component</h2>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, natus repudiandae. Blanditiis repellat deserunt dolorem. Minus eaque, dicta, qui quas repellat magnam dolorem ratione incidunt, provident tempora necessitatibus sunt id.</p>
</div>
